@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  --tw-bg-opacity: 1;
  background-color: rgb(248 250 252 / var(--tw-bg-opacity));
}

@layer components {
  .admin_nav_active {
    @apply w-32 text-center py-2 bg-green-600 border-4 border-green-600 text-white text-xl font-semibold font-roboto uppercase rounded-md shadow-md;
  }

  .admin_nav {
    @apply w-32 text-center py-2 bg-white border-4 border-green-600 text-green-600 text-xl font-semibold font-roboto uppercase rounded-md shadow-md;
  }

  .navBar_a_desktop {
    @apply px-5 py-2 bg-green-400 text-sm font-medium text-white rounded-md hover:bg-gradient-to-tr hover:from-green-400 hover:to-green-500;
  }

  .navBar_a_mobile {
    @apply px-5 py-2 block bg-green-400 text-sm font-medium text-white rounded-md hover:bg-gradient-to-tr hover:from-green-400 hover:to-green-500;
  }
}
